@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-track {
    -webkit-background-clip: content-box;
    background: #ffffff;
    border: 1px solid #4b5563;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-background-clip: content-box;
    background: #212e41;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #17222f;
}